---
# The scss file which include files from _sass/
---
@charset "UTF-8";

@import 'variables';

@import 'basscss';

@import 'base';

@import 'links';
@import 'positions';
@import 'clearfix';
@import 'code';
@import 'forms';
@import 'typography';
@import 'header';
@import 'tables';
@import 'animations';
@import 'footer';
@import 'social-icons';
@import 'blockquotes';
@import 'posts';
@import 'gists';
@import 'measure';
@import 'pagination';

$blue: #6686D8;
$green: #4BAB82;
$red: #DB5F51;
$yellow: #EED636;
$pink: #FFEBE3;

// CHECK THE PINNK SHIT AS A BACKGROUNFD - USE THIS AS BRAND IDENTITY????? - http://humanbeing.co/


//MAILCHIMP STYLES START
#mc_embed_signup{
	background: transparent;
	margin: 20px auto 40px auto;
	// clear: left
	label{
		color: #bbbbbb;
	}
	input{
		&.button, &.email{
			display: inline-block !important;
		}
		&.button{
			background: #6686d8;
			height: 2.25rem;
			&:hover{
				background: darken(#6686d8, 10);
			}
		}
	}
}



//MAILCHIMP STYLES END

*, *:after, *:before{
	box-sizing: border-box;
}
em.basicss-underscore{
	border-bottom: 1px solid #666;
}
.home{
	position: relative;
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}
.site-header{
	position: fixed;
	width: 100%;
	background: white;
	z-index: 9;
}
.posts, .post{
	margin-top: 2rem;
}
.posts{
	margin-bottom: 50px;
}
.post{
	width: 100%;
	&:first-child{
		margin-top: 0px;
	}
}
.pagination{
	clear: both;
}
.aside{
	padding-top: 4rem;
}
h1{
	color: $dark-gray;
	margin: 90px 0;
	text-align: center;
}

footer{
	margin-top: 60px;
	.logo{
		display: block;
		margin: 20px 0;
		background-image: none;
	}
}
.button-blue{
	background-color: $blue;
}
.giveMeSpace{
	margin-bottom: 200px;
}
.about-desc{
	display: flex;
  	flex-wrap: wrap;
  	.lesson-list{
  		display: flex;
   		flex-direction: column;
   		margin-top: 10px;
  	}
}
.lesson-list{
	border-radius: 5px;
	background: #efefef;
	padding: 20px;
	width: 32%;
	display: inline-block;
	&:nth-child(3n - 1){
		margin-left: 1%;
		margin-right: 1%;
	}
}

@import 'media-queries';