<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title"><img src="/images/web_logo.png" alt="{{site.title}}"></a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>

  <!-- Begin MailChimp Signup Form
      <div id="mc_embed_signup" class="measure">
        <form action="//beyondbasicss.us14.list-manage.com/subscribe/post?u=01f360ef6c10e9f0a7dca1697&amp;id=88d54e78eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Subscribe to our mailing list</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_01f360ef6c10e9f0a7dca1697_88d54e78eb" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
      </div>

End mc_embed_signup-->
</header>
